figure {
  margin: 0;
}

div.read-more {
  font-size: 18px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  padding: 2em 0 10px 0;
  border-bottom: 1px solid #eee;
}

div.signature {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

div.signature p {
  margin: 3px 0;
}

div.tag-list {
  display: inline-block;
  padding-left: 1.5em;
  color: #bcbcbc;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
