<section sytle="height: 600px;">
  <div class="from-them">What is it?</div>
  <div class="clear"></div><div class="from-me">A really small computer :)</div>
  <div class="clear"></div><div class="from-them">Another computer?</div>
  <div class="clear"></div><div class="from-me">This one is different</div>
  <div class="clear"></div><div class="from-them">What does it do?</div>
  <div class="clear"></div><div class="from-me">Lots of stuff! Play games, watch movies, ...</div>
  <div class="clear"></div><div class="from-them">So it's a computer.</div>
  <div class="clear"></div><div class="from-me">...</div>
  <div class="clear"></div><div class="from-them">OK. But's it's going to be your Valentine's present</div>
  <div class="clear"></div><div class="from-me">Deal! ;)</div>
</section>
